html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background-color: #eee;
}

.card {
  height: 150px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  animation-name: wobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes wobble {
   0% { transform: rotate(0); }
   15% { transform: rotate(-5deg); }
   30% { transform: rotate(3deg); }
   45% { transform: rotate(-3deg); }
   60% { transform: rotate(2deg); }
   75% { transform: rotate(-1deg); }
   100% { transform: rotate(0); }
}

a {
  color: #000;
}
